body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}
.top-banner{
    height: 550px;
    background-image: url("image/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    padding: 10px 25%;
}

h1{
    font-size: 50px;
    text-align: center;
}
.paragraph{
    font-size: 20px;
    margin-bottom: 40px;
}
.button{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
   
}
 
.donate-today{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.donate-today p{
    padding: 2px 25%;
}

.donate-amount{
    display: flex;
    color: gray;
}
.amount100{
    background-color: rgb(247, 243, 243);
    padding: 40px 24px;
    margin: 5px;
   
}
.amount200{
    background-color: rgb(247, 243, 243);
    padding: 40px 24px;
    margin: 5px;
    border: 2px solid red;
    border-radius: 5px ;
   
}
.amount500{
    background-color: rgb(247, 243, 243);
    padding: 40px 24px;
    margin: 5px;
   
}
.amount1000{
    background-color: rgb(247, 243, 243);
    padding: 40px 20px;
    margin: 5px;
   
}
.amount5000{
    background-color: rgb(247, 243, 243);
    padding: 40px 20px;
    margin: 5px;
   
}
h5{
    border-radius: 2px solid black;
    margin-bottom: 2px;
    color: rgb(97, 97, 97);
}
hr{
    margin: 0;
    width: 600px;

}

.para{
    text-align: center;
    padding: 2px 25%;
}
.donate-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.food{
    width: 25%;
    background-color: rgb(198, 255, 245);
    margin: 10px;
    padding: 10px;
}

.shelter{
    width: 25%;
    background-color: rgb(238, 238, 231);
    margin: 10px;
    padding: 10px;
}


.education{
    width: 25%;
    background-color: beige;
    margin: 10px;
    padding: 10px;
}
.donate-icon{
    height: 50px;
    width: 50px;
}
.heros-area{
    margin-bottom: 100px;
    background-color: rgb(237, 234, 230);
    padding: 10px 2px;
}
.real-heros{
    display: flex;
    margin: 20px;
  
}
.heros{
    width: 23%;
    margin: 10px;
    box-shadow: 5px 10px 30px gray;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;

}
.heros p{
    padding: 2px 10px;
}

.heros h2{
    text-align: center;
}
.heros-para{
    text-align: center;
    padding: 2px 25%;
}
.heros-img{
    height: 100px;
    width: 200px;
    margin:20px 30px 10px 40px;
}



.donation{
    display: flex;
    margin-bottom: 100px;
    padding: 50px;
   
}
.donation2{
    display: flex;
    margin-bottom: 30px;
    padding: 40px;
   
}
.half-width{
    width: 50%;
    margin: 10px;
    padding: 10px;
}
.half-width img{
    width: 80%;
    height: 400px;
}
.half-width p{
    font-size: 20px;
    margin-bottom: 30px;
    padding: 40px;
}
.half-width a{
   margin-left: 40px;
}
.set-update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.set-update h1{
    margin-bottom: 10px;
}
form{
    padding: 50px 120px;
    background-color: rgb(252, 233, 210);
}
.email{
    color: rgb(129, 129, 129);
    margin-right: 0px;
    padding: 10px;
    border: 1px solid rgb(129, 129, 129);
    background-color: rgb(215, 214, 214);
}
.subscribe{
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px;
    margin-left: -5px;
    border: 1px solid tomato;
    border-radius:2px;
    
}

footer{
    text-align: center;
    background-color: black;
}
footer h1{
    color: brown;
    font-family: 'Lobster', cursive;
    margin-bottom: 10px;
    padding-top: 20px;

}
footer h5{
    color: white;
    padding-bottom: 30px;
    margin-top: 0;
}